<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TwitterThing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B7384F5E1BDED84C0047E8EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7384F721BDED84C0047E8EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7384F7D1BDED84C0047E8EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
